<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <servlet>
        <servlet-name>adminProduct</servlet-name>
        <servlet-class>watch_product.adminProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductAction</servlet-name>
        <servlet-class>watch_product.editProductAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>watch_product.SendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProduct</servlet-name>
        <url-pattern>/adminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductAction</servlet-name>
        <url-pattern>/editProductAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
