$head_font: "Roboto", sans-serif;
$base_font: "Poppins", sans-serif;
$bg_one: #fbf8eb;
$bg_two: #effafa;
$color_one: #ffffff;
$color_two: #646464;
$transition: all 0.3s ease-in-out;
$itemsltbg: #dddddd;
$itemsrtbg: #dddddd;
$itemscolor: #222831;
$itemshover: #ef4f4f;
$itemshovertext: #e7e7de;
$itemnav: #ef4f4f;
$navcolor: #e7d9ea;
$reload: #0a043c;

$tbBg: #c5d7bd;
$tbColor: #08445c;

$textColor: #f2f2f2;
$textColor2: #f96d00;
$bgColor1: #222831;
$bgColor2: #393e46;

// f96d00
